target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.gradle
.idea
local.properties
.idea/
.DS_Store
Pods
Podfile.lock
xcuserdata
build
*.iml
*.log
classes
bin/
out
application-*.yml
!application-default.yml
!application-internal.yml
!application-online.yml
!application-test.yml
.classpath
.project
.settings
target
*.class
*/.tmp
gen